/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

@font-face {
  font-family: RuberoidExtraBold;
  font-weight: 800;
  font-style: normal;
  src: local("RuberoidExtraBold"), url("./../fonts/RuberoidExtraBold.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: RuberoidBold;
  font-weight: 700;
  font-style: normal;
  src: local("RuberoiBold"), url("./../fonts/RuberoidBold.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: RuberoidSemiBold;
  font-weight: 600;
  font-style: normal;
  src: local("RuberoidExtraBold"), url("./../fonts/RuberoidSemiBold.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: RuberoidExtraBold;
  font-weight: 500;
  font-style: normal;
  src: local("RuberoidMedium"), url("./../fonts/RuberoidMedium.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: RuberoidExtraBold;
  font-weight: 400;
  font-style: normal;
  src: local("RuberoidRegular"), url("./../fonts/RuberoidRegular.woff2") format("woff2");
  font-display: swap;
}
html,
body {
  height: 100%;
}

.wrapper {
  height: 100vh;
  overflow-y: scroll;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

.wrapper > section {
  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.container {
  margin: 0 auto;
  max-width: 1300px;
  height: 100%;
  padding: 0 15px;
}

a {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
a:hover {
  color: #2EECC5;
}

.button {
  display: inline-block;
  background: rgba(46, 236, 197, 0.1);
  -webkit-box-shadow: 0px 0px 37px rgba(46, 236, 197, 0.2);
          box-shadow: 0px 0px 37px rgba(46, 236, 197, 0.2);
  border: 2px solid #2eecc5;
  border-radius: 49px;
  padding: 15px 20px;
  width: 200px;
  height: 56px;
  font-family: "RuberoidSemiBold", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.button:hover {
  -webkit-box-shadow: 0px 0px 38px rgba(46, 236, 198, 0.301);
          box-shadow: 0px 0px 38px rgba(46, 236, 198, 0.301);
  -webkit-transform: scale(1.02);
      -ms-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-filter: contrast(1);
          filter: contrast(1);
}

.title2 {
  font-family: "RuberoidExtraBold", sans-serif;
  font-weight: 800;
  font-size: 45px;
  line-height: 62px;
  background: -o-linear-gradient(358.8deg, #b5feef 10.31%, #2eecc5 165.09%);
  background: linear-gradient(91.2deg, #b5feef 10.31%, #2eecc5 165.09%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin-bottom: 25px;
}

.title3 {
  font-family: "RuberoidBold", sans-serif;
  font-weight: 700;
  font-size: 55px;
  line-height: 110.6%;
  background: -o-linear-gradient(358.8deg, #b5feef 10.31%, #2eecc5 165.09%);
  background: linear-gradient(91.2deg, #b5feef 10.31%, #2eecc5 165.09%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  text-shadow: 0px 0px 36px rgba(165, 252, 235, 0.2);
}

.header {
  position: relative;
  height: 100vh;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(16, 14, 15, 0.3)), to(rgba(14, 8, 11, 0.3))), url("./../img/header/Slice-bg.svg");
  background: -o-linear-gradient(bottom, rgba(16, 14, 15, 0.3), rgba(14, 8, 11, 0.3)), url("./../img/header/Slice-bg.svg");
  background: linear-gradient(0deg, rgba(16, 14, 15, 0.3), rgba(14, 8, 11, 0.3)), url("./../img/header/Slice-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header::before {
  content: "";
  position: fixed;
  top: 0px;
  right: 52%;
  -webkit-transform: translate(0% -50%);
      -ms-transform: translate(0% -50%);
          transform: translate(0% -50%);
  width: 127px;
  height: 29px;
  background-image: url("./../img/header/top-decor.svg");
  background-repeat: no-repeat;
}
.header::after {
  content: "";
  position: absolute;
  right: 25px;
  bottom: 25px;
  width: 700px;
  height: 700px;
  background-image: url("./../img/header/circle-bg.svg");
  background-repeat: no-repeat;
}

.header__top-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0px;
}

.header__logo-studio {
  font-family: "RuberoidBold", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 140.6%;
  letter-spacing: 0.31em;
  color: #ffffff;
  -webkit-transform: rotate(-0.19deg);
      -ms-transform: rotate(-0.19deg);
          transform: rotate(-0.19deg);
}

.header__logo-web {
  font-family: "RuberoidExtraBold", sans-serif;
  font-weight: 800;
  font-size: 40px;
  line-height: 140.6%;
  letter-spacing: -0.115em;
  color: #ffffff;
  -webkit-transform: rotate(-0.19deg);
      -ms-transform: rotate(-0.19deg);
          transform: rotate(-0.19deg);
  margin-top: -19px;
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 350px;
}

.header__nav-item {
  font-family: "RuberoidSemiBold", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
  margin-right: 34px;
}

.header__body {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header__body-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.header__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto 0;
}

.title1 {
  font-family: "RuberoidExtraBold", sans-serif;
  font-weight: 800;
  font-size: 65px;
  line-height: 90px;
  background: -o-linear-gradient(358.8deg, #b5feef 10.31%, #2eecc5 165.09%);
  background: linear-gradient(91.2deg, #b5feef 10.31%, #2eecc5 165.09%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  white-space: nowrap;
}

.header__text {
  font-family: "Ruberoid Regular", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  max-width: 672px;
  color: rgba(255, 255, 255, 0.65);
  margin-bottom: 50px;
  padding: 0 100px 0 0;
}

.btn-text {
  font-family: "Ruberoid Regular", sans-serif;
  font-style: Regular;
  font-size: 19px;
  line-height: 100%;
  color: rgba(255, 255, 255, 0.4);
  margin-left: 25px;
}

.header__img-box {
  z-index: 5;
  padding-left: 50px;
}

.header__img {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 760px;
  width: 844px;
}

.header__line-horizon {
  position: fixed;
  width: 100%;
  height: 5px;
  left: 0px;
  bottom: 0px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(42, 188, 158, 0)), color-stop(48.65%, #2abc9e), to(rgba(42, 188, 158, 0)));
  background: -o-linear-gradient(left, rgba(42, 188, 158, 0) 0%, #2abc9e 48.65%, rgba(42, 188, 158, 0) 100%);
  background: linear-gradient(90deg, rgba(42, 188, 158, 0) 0%, #2abc9e 48.65%, rgba(42, 188, 158, 0) 100%);
}

.cooperation {
  background: #161617 url("./../img/cooperation/decor-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.cooperation__inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 35px;
  padding-top: 84px;
}

.cooperation__content {
  grid-column: span 2;
  max-width: 672px;
}

.cooperation__title {
  margin-bottom: 13px;
}

.cooperation__text {
  font-family: "Ruberoid Regular", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 23px;
  color: rgba(255, 255, 255, 0.65);
}

.text1 {
  margin-bottom: 13px;
}

.text2 {
  margin-bottom: 45px;
}

.cooperation__btn {
  display: inline-block;
  position: relative;
  outline: none;
  font-family: "Ruberoid Regular", sans-serif;
  font-weight: 400;
  font-size: 19px;
  line-height: 26px;
  background: #161617;
  color: #ffffff;
  width: 200px;
  height: 57px;
  border: 1.5px solid #2eecc5;
  -webkit-box-shadow: 0px 0px 38px rgba(46, 236, 197, 0.2);
          box-shadow: 0px 0px 38px rgba(46, 236, 197, 0.2);
  border-radius: 4px;
  padding: 15px 43px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.cooperation__btn:hover {
  -webkit-transform: scale(1.02);
      -ms-transform: scale(1.02);
          transform: scale(1.02);
}
.cooperation__btn::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 9px;
  top: 11px;
  border: 1.5px solid rgba(46, 236, 197, 0.4);
  border-radius: 4px;
  -webkit-transform: translate3d(0px, 0px, -1px);
          transform: translate3d(0px, 0px, -1px);
}

.cooperation__btn:hover::before {
  -webkit-box-shadow: 0px 0px 38px rgba(46, 236, 197, 0.2);
          box-shadow: 0px 0px 38px rgba(46, 236, 197, 0.2);
  -webkit-transform: translate3d(0px, 0px, -3px);
          transform: translate3d(0px, 0px, -3px);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.cooperation__btn:active {
  -webkit-transform: translate(8px, 0.75em);
      -ms-transform: translate(8px, 0.75em);
          transform: translate(8px, 0.75em);
}

.cooperation__btn:active::before {
  -webkit-transform: translate3d(-8px, -11px, -1em);
          transform: translate3d(-8px, -11px, -1em);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.cooperation__team-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 400px;
  height: 400px;
  background: -o-linear-gradient(310.44deg, #527791 10.06%, #325597 58.72%, #193895 88%);
  background: linear-gradient(139.56deg, #527791 10.06%, #325597 58.72%, #193895 88%);
  -webkit-box-shadow: 0px 0px 150px rgba(59, 95, 150, 0.35);
          box-shadow: 0px 0px 150px rgba(59, 95, 150, 0.35);
  -webkit-box-shadow: 0px 0px 80px rgba(44, 44, 45, 0.35);
          box-shadow: 0px 0px 80px rgba(44, 44, 45, 0.35);
  border-radius: 6px;
  -webkit-filter: grayscale(100%) brightness(81%) contrast(1.5);
          filter: grayscale(100%) brightness(81%) contrast(1.5);
  opacity: 1;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.cooperation__team-box:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  opacity: 1;
  -webkit-transform: scale(1.02);
      -ms-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.cooperation__text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 44px 45px 0px;
}

.team-title {
  font-family: "RuberoidSemiBold", sans-serif;
  font-weight: 600;
  font-size: 26px;
  line-height: 123.1%;
  color: #ffffff;
  max-width: 258px;
  margin-bottom: 20px;
}

.team-text {
  font-family: "RuberoidMedium", sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 123.1%;
  color: rgba(255, 255, 255, 0.9);
}

.cooperation__img-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.portfolio {
  background: #161617 url("./../img/portfolio/bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.portfolio__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

.portfolio__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.title3 {
  margin-bottom: 20px;
}

.portfolio__text {
  font-family: "RuberoidMedium", sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 153.8%;
  color: rgba(255, 255, 255, 0.65);
  margin-bottom: 40px;
}

.portfolio__btn {
  display: inline-block;
  font-family: "RuberoidMedium", sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 23px;
  background: rgba(46, 236, 197, 0.1);
  border: 1.5px solid #2eecc5;
  -webkit-box-shadow: 0px 0px 37px rgba(46, 236, 197, 0.2);
          box-shadow: 0px 0px 37px rgba(46, 236, 197, 0.2);
  border-radius: 49px;
  color: #ffffff;
  padding: 15px 30px;
}
.portfolio__btn:hover {
  -webkit-box-shadow: 0px 0px 38px rgba(46, 236, 198, 0.301);
          box-shadow: 0px 0px 38px rgba(46, 236, 198, 0.301);
  -webkit-filter: saturate(1);
          filter: saturate(1);
  -webkit-transform: scale(1.02);
      -ms-transform: scale(1.02);
          transform: scale(1.02);
}

.portfolio__slider-inner {
  width: 567px;
  height: 363px;
  background: rgba(46, 236, 197, 0.1);
  border: 1.5px solid #2eecc5;
  -webkit-box-shadow: 0px 0px 37px rgba(46, 236, 197, 0.2);
          box-shadow: 0px 0px 37px rgba(46, 236, 197, 0.2);
}

.tariff {
  background-color: coral;
}

.footer {
  background-color: cornflowerblue;
}