.header {
	position: relative;
	padding-top: 50px;
	min-height: 1055px;
	background: linear-gradient(0deg, rgba(16, 14, 15, 0.3), rgba(14, 8, 11, 0.3)), url("./../img/header/Slice-bg.svg");
	mix-blend-mode: normal;
	background-repeat: no-repeat;
	background-size: cover;

	&::before {
		content: "";
		position: absolute;
		left: 50%;
		top: 0px;
		width: 127px;
		height: 29px;
		background-image: url("./../img/header/top-decor.svg");
		background-repeat: no-repeat;
	}
}
.wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__logo {
	display: block;
}
.header__logo-studio {
	font-family: $second-family1;
	font-weight: 700;
	font-size: 17px;
	line-height: 140.6%;
	letter-spacing: 0.31em;
	color: #ffffff;
	transform: rotate(-0.19deg);
}
.header__logo-web {
	font-family: $second-family3;
	font-weight: 800;
	font-size: 40px;
	line-height: 140.6%;
	letter-spacing: -0.115em;
	color: #ffffff;
	transform: rotate(-0.19deg);
	margin-top: -19px;
}
.header__nav-list {
	display: flex;
	align-items: center;
	margin-left: 350px;
}
.header__nav-item {
	font-family: $second-family2;
	font-weight: 400;
	font-size: 20px;
	line-height: 20px;
	color: #ffffff;
	margin-right: 34px;
}

.header__body {
	padding-top: 250px;
}
.header__content {
	display: flex;
	flex-direction: column;
}
.header__title {
}
.title1 {
	font-family: $second-family3;
	font-weight: 800;
	font-size: 65px;
	line-height: 90px;
	background: linear-gradient(91.2deg, #b5feef 10.31%, #2eecc5 165.09%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}
.title2 {
	font-family: $second-family3;
	font-weight: 800;
	font-size: 45px;
	line-height: 62px;
	background: linear-gradient(91.2deg, #b5feef 10.31%, #2eecc5 165.09%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
	margin-bottom: 25px;
}

.header__text {
	font-family: $second-family4;
	font-weight: 400;
	font-size: 22px;
	line-height: 30px;
	max-width: 672px;
	color: rgba(255, 255, 255, 0.65);
	margin-bottom: 50px;

}
.btn-text {
	font-family: $second-family4;
	font-style: Regular;
	font-size: 19px;
	line-height: 100%;
	color: rgba(255, 255, 255, 0.4);
	margin-left: 25px;
}

.header__img {
	position: absolute;
	left: 60%;
	bottom: 0%;
}
.header__img-box {
}
.header__line {
	position: absolute;
	width: 1920px;
	height: 5px;
	left: 0;
	bottom: 0;

	background: linear-gradient(90deg, rgba(42, 188, 158, 0) 0%, #2abc9e 48.65%, rgba(42, 188, 158, 0) 100%);
}
.header__line2 {
	position: absolute;
	width: 1055px;
	height: 5px;
	left: -44px;
	top: 50%;
	transform: rotate(-90deg);
	background: linear-gradient(90deg, rgba(42, 188, 158, 0) 0%, #2abc9e 48.65%, rgba(42, 188, 158, 0) 100%);
}
