.portfolio__slider-wrapper {
	
	
}
.portfolio__slider-inner {
	width: 566px;
	height: 363px;
	background: rgba(46, 236, 197, 0.1);
	border: 1.5px solid #2eecc5;
	box-shadow: 0px 0px 37px rgba(46, 236, 197, 0.2);
}